@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleContent{
   MyView
   }
@section ContentBody{
          
        <div id="secondDiv" style="height:660px;width:1000px;background-color:red;">
            <div id="introDiv" style="height:620px;width:600px;background-color:antiquewhite;float:left;margin-left:20px;margin-top:10px;">
                
            </div>
            
            <div id="whatNewDiv" style="height:620px;width:300px;background-color:beige;float:right;margin-top:10px;margin-right:20px;"></div>
        </div>
       
       
   
}