@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleContent{
    MyView
}
@section ContentBody{

    <div id="secondDiv" style="height:410px;width:1000px;background-color:black;">
        <div id="introDiv" style="height:400px;width:600px;background-color:antiquewhite;float:left;margin-left:20px;margin-top:5px;">
            <p>TRENDING</p>
        </div>

        <div id="whatNewDiv" style="height:400px;width:300px;background-color:beige;float:right;margin-top:5px;margin-right:20px;"></div>
    </div>
    <div id="bottomDiv" style="height:250px;width:1000px;background-color:hotpink;">

    </div>


}